In [2]:
'''
Procedural Programming
'''
i = 3
j = i + 1
i + j

7

In [5]:
'''
Variables
'''
dog_name = "spot"
dog_name

'rex'

In [6]:
dog_name = "rex"
dog_name

'rex'

In [7]:
dog_name = "t-" + "rex"
dog_name

't-rex'

In [8]:
big = "large"
big

'large'

In [9]:
big = 1000 * 1000
big

1000000

In [10]:
big = ()
big

()

In [11]:
'''
basic math
'''
1+1

2

In [12]:
10 - 2

8

In [13]:
5 * 4

20

In [14]:
four = 4
five = 5
five + four

9

In [15]:
10 / 3

3.3333333333333335

In [16]:
10 // 3 # integer division (or floor dvision)

3

In [17]:
10 ** 3 # 10 to the power of 3

1000

In [19]:
10 % 3 # Modulo / Remainders of division

1

In [21]:
# Comments
''' This is also a comment'''
'''
so
is
this!
'''
"""
And
this
too!
"""

# Commented, due to invalid syntax
# /* This isnt a comment in Python */
foo = "bar"
foo

'bar'

In [22]:
# print statements
print("Hello World!")

Hello World!

In [24]:
'''
Range
'''
range(0,10)

range(0, 10)

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
'''
flow control: if/elif/else
'''
i = 35
if i == 35:
    print("i is 35")

i = 35
if i == 45:
    print("i is 45")
elif i == 35:
    print("i is 35")

i = 0
if i == 45:
    print("i is 45")
elif i == 35:
    print("i is 35")
elif i > 10:
    print("i is greater than 10")
elif i % 3 == 0:
    print("i is a multiple of 3")
else:
    print("I dont't know much about i...")

i is 35
i is 35
i is a multiple of 3

In [7]:
'''
Nested ifs
'''
#cat = 'Sheba'
cat = 'spot'
if 's' in cat:
    print("found an 's' in a cat")
    if cat == 'Sheba':           # this logic is flawed because s != S so Sheba will not pass the first if 
        print("I found Sheba!")  # resulting in 'a cat without an s'
    else:
        print("Some other cat")
else:
    print("a cat without an s")

found an 's' in a cat
Some other cat

In [8]:
'''
flow control: for loops
'''
x = 0
for i in range(10):
    x = i*2
    print(x)

0
2
4
6
8
10
12
14
16
18

In [10]:
'''
flow control: for loops and the continue statement
'''
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [12]:
'''
flow control: while loops
'''
count = 0
while count < 3:
    print(f"The count is {count}")
    count += 1

The count is 0
The count is 1
The count is 2

In [13]:
'''
flow control: while loops and the break statement
'''
count = 0
while True:
    print(f"The count is {count}")
    if count > 5:
        break
    count += 1

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
The count is 6

In [2]:
'''
Handling Exceptions (try / except)
'''

thinkers = ['Plato', 'PlayDo', 'Gumby']
while True:
    try:
        thinker = thinkers.pop()
        print(thinker)
    except IndexError as e:
        print("We tried to pop too many thinkers")
        print(e)
        break

Gumby
PlayDo
Plato
We tried to pop too many thinkers
pop from empty list

In [5]:
'''
Objects
'''
# Define a class for fancy defining fancy cars
class FancyCar():
	pass

type(FancyCar)

type

In [6]:
# Instatiate a fancy car
my_car = FancyCar()
type(my_car)

__main__.FancyCar

In [2]:
'''
Define a class for driving a fancy car
'''
class FancyCar():
    wheels = 4
    def driveFast(self):
        print("Driving so fast!")

mycar = FancyCar()
mycar.driveFast()

Driving so fast!

In [5]:
'''
Strings
'''
# Legacy code: Modulo strings
print("Hello, my name is %s and I am %s years old" % ('Richard', '47'))

Hello, my name is Richard and I am 47 years old

In [6]:
# Format strings using .format() function
print('{} comes before {}'.format('first', 'second'))

first comes before second

In [7]:
# Format strings with index numbers
print('{1} comes after {0} but {1} comes before {2}'.format('first',
                                                            'second',
                                                            'third'))

second comes after first but second comes before third

In [11]:
# multiline .format() string using named variables
print('''
{country} is an island
{country} is off the coast of
{continent} in the {ocean}'''.format(ocean='Indian Ocean',
            continent='Africa',
            country='Madagascar'))

Madagascar is an island
Madagascar is off the coast of
Africa in the Indian Ocean

In [19]:
# .format() strings using format specifiers
text = "|{0:>22}||{0:<22}|"
print(text.format('O','O'))
text = "|{0:<>22}||{0:><22}|"
print(text.format('O','O'))

|                     O||O                     |
|<<<<<<<<<<<<<<<<<<<<<O||O>>>>>>>>>>>>>>>>>>>>>|

In [22]:
# f-strings: The modern preferred default
''' Python f-strings use the same formatting language as .format()'''
a = 1
b = 2
print(f"a is {a}, b is {b}, adding them together results in {a + b}")

a is 1, b is 2, adding them together results in 3

In [23]:
#  Notes: I like f-strings as they more closely resemble rust's println!("Hello, {}", name) or println!("Hello, {name}")
# You just have to remember to put the f before the quotes with Python's print(f"my special string").

In [1]:
'''
Dealing with the Operating System with the os module
'''

import os

os.getcwd()

'/home/rforth/git/python/jupyter_notebooks'

In [2]:
os.chdir('/tmp')
os.getcwd()

'/tmp'

In [4]:
os.environ.get('LOGLEVEL')

In [5]:
os.environ['LOGLEVEL'] = 'DEBUG'
os.environ.get('LOGLEVEL')

'DEBUG'

In [6]:
os.getlogin()

'rforth'

In [15]:
'''
spawn processes with the subprocess module
'''
import os
os.chdir('/home/rforth/git/python/cli-tools')
import subprocess
cp = subprocess.run(['ls', '-l'],
                    capture_output=True,
                    universal_newlines=True)

In [16]:
cp.stdout

'total 8\n-rwxrwxr-x 1 rforth rforth 968 Aug 13 13:50 parsing_with_sys.argv.py\n-rwxrwxr-x 1 rforth rforth 304 Aug 13 12:03 using_sys.argv.py\n'

In [1]:
'''
Notes for git management, if you try something and want to
discard the changes, in GitHub Desktop right-click on the
changed file and choose 'discard changes'.

On linux run git restore <file>

Ive had to do this on Windows tonight as it appears that subprocess doesnt work on windows, i get errors
'''

"\nNotes for git management, if you try something and want to\ndiscard the changes, in GitHub Desktop right-click on the\nchanged file and choose 'discard changes'.\n\nOn linux run git restore <file>\n\nIve had to do this on Windows tonight as it appears that subprocess doesnt work on windows, i get errors\n"

In [3]:
'''
data frames with pandas
'''
import pandas as pd # if this results in an error , on the cli, run 'pip3 install pandas'

In [12]:
df = pd.read_csv('sample-data.csv')

In [13]:
df.head(3)

   Attributes        open        high         low       close      volume
0     Symbols           F           F           F           F           F
1        date  2018-10-18  2018-10-19  2018-10-20  2018-10-21  2018-10-22
2  2018-01-02     11.3007     11.4271     11.2827     11.4271   20773320

In [14]:
df.describe()

       Attributes open high low close volume
count           3    3    3   3     3      3
unique          3    3    3   3     3      3
top       Symbols    F    F   F     F      F
freq            1    1    1   1     1      1

In [15]:
df['close']

0             F
1    2018-10-21
2       11.4271
Name: close, dtype: object

In [16]:
type(df)

pandas.core.frame.DataFrame

In [1]:
'''
yaml parsing
'''
import yaml

In [2]:
with open('restart_apache.yml', 'r') as opened_file:
    restart_apache = yaml.safe_load(opened_file)

In [7]:
from pprint import pprint
pprint(restart_apache)

[{'become': True,
  'gather_facts': False,
  'hosts': 'all',
  'name': 'Restart Apache2',
  'tasks': [{'name': 'restart apache',
             'service': {'name': 'apache2', 'status': 'restarted'}}]}]